<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljx.gmall.manage.mapper.PmsSkuInfoMapper">
    <!-- 查询当前sku相关的sku信息  -->
    <select id="selectSkuSaleAttrValueListBySpu" resultMap="spu">
            SELECT
        si.*,ssav.*,si.id as si_id,ssav.id as ssav_id
        FROM
        pms_sku_info si,
        pms_sku_sale_attr_value ssav
        WHERE
        si.product_id=#{productId}
        AND
        si.id=ssav.sku_id
    </select>


    <resultMap id="spu" type="com.ljx.gmall.bean.PmsSkuInfo" autoMapping="true">
        <result column="si_id" property="id"></result>
        <!--销售属性值集合        -->
        <collection property="skuSaleAttrValueList" ofType="com.ljx.gmall.bean.PmsSkuSaleAttrValue"
                    autoMapping="true">
            <result column="ssav_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>